
.data_item{
  display: grid;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  height: 350px;
  width: 300px;
  justify-self: center;
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.1);
}
.add_favorite_icon{
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.add_favorite_icon:hover{
  background-color: crimson;
  color: white;
}

.add_favorite_icon_active{
  color: white;
  background-color: chartreuse;
}

.image_container{
  display: grid;
}
.img_item{
  width: 300px;
  border-radius: 8px 8px 0 0;
  display: grid;
}

.information_item_container{
  padding: 0 5px;
}
.title{
  margin-top: 8px;
}

/* Media Query */

@media screen and ( max-width : 768px ){
  .data_item{
    width: 250px;

  }
  .img_item{
    width: 250px;
    height: 300px;
  
  }
}


@media screen and ( max-width : 560px ){
  .data_item{
    width: 210px;


  }
  .img_item{
    width: 210px;
    
  
  }
}

@media screen and ( max-width : 460px ){
  .data_item{
    width: 150px;
    height: 250px;
  }
  .img_item{
    width: 150px;
    height: 200px;
  }
}

/* End Media Query */