
.data_item{
  display: grid;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  height: 350px;
  width: 300px;
  justify-self: center;
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.1);
}



/* ICON */

.add_favorite_icon{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  z-index: 9;
}

.add_favorite_icon_not_active{
  background-color: white;
}
.add_favorite_icon_active{
  background-color: #eaa523;
}
.add_favorite_icon_not_active::before{
  content: "+";
  width: 30px;
  color: black;
  height: 30px;
  font-size: 30px;
  font-weight: 700;
}
.add_favorite_icon_active::before{
  content: "*";
  width: 30px;
  color: #f5ead4;
  height: 30px;
  font-size: 30px;
  font-weight: 700;
}

.add_favorite_icon_not_active:hover{
  background-color: #eaa523;
    
}
.add_favorite_icon_active:hover{
  background-color: white;  

}
.add_favorite_icon_not_active:hover::before{
  content: "*";
  color: #f5ead4;
}
.add_favorite_icon_active:hover::before{
  content: "+";
  color: black;
}
/* END ICON */



.image_container{
  display: grid;
}
.img_item{
  width: 300px;
  border-radius: 8px 8px 0 0;
  display: grid;
}

.information_item_container{
  padding: 0 5px;
}
.title{
  margin-top: 8px;
}

/* Media Query */

@media screen and ( max-width : 768px ){
  .data_item{
    width: 250px;

  }
  .img_item{
    width: 250px;
    height: 300px;
  
  }
}


@media screen and ( max-width : 560px ){
  .data_item{
    width: 210px;


  }
  .img_item{
    width: 210px;
    
  
  }
}

@media screen and ( max-width : 460px ){
  .data_item{
    width: 150px;
    height: 250px;
  }
  .img_item{
    width: 150px;
    height: 200px;
  }
}

/* End Media Query */