.grid_cards_container{
  padding: 20px;
  display: grid;
  width: 100%;
}

.data_list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
  width: 100%;

}

.data_item{
  display: grid;
  border: 1px solid black;
  border-radius: 8px;
}


.img_item{
  max-width: 100%;
  border-radius: 8px 8px 0 0;
  display: grid;
}

.information_item_container{
  padding: 0 5px;
}
.title{
  margin-top: 8px;
}