
/* CARTAS DE 350PX Y 4 FILAS => 1400PX */
.loading_component_container{
  display: grid;
  width: calc(100% - 20px);
  padding: 10px;
}

.loading_component_content{
  min-height: 1400px;
  max-width: 1600px;
  min-width: 300px;
  border-radius: 7px;
  width: 100%;
  justify-self: center;
  display: grid;
  background-color: rgb(0, 0, 0, 0.1);
  
}

.loading_text{
  align-self: center;
  justify-self: center;
  color: black;
  font-size: 35px;
  font-size: 600;
}