.pages_component_container{
  padding: 0 20px;
}
.pages_list{
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.page_item{
  font-size: 20px;
  background-color: blue;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}
.page_item_active{
  background-color: red;
}