.character_page_container{
  margin-top: 50px;
  padding-top: 20px;
  display: grid;
}
.character_page_content{
  display: grid;
  gap : 40px 80px;
  grid-template-columns: 1fr 2.2fr;
  max-width: 1600px;
  padding: 0 20px;
  justify-self: center;

}

.image_container{
  flex: 1;
  display: grid;
  align-self: start;
  margin-top: 30px;
}
.image{

  height: 400px;
  width: auto;
  border-radius: 10px;
}

.character_info_container{
  flex: 1;
  width: 100%;
}

.character_status{
  background-color: #0073bb;
  color: white;
  max-width: max-content;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  border-radius: 3px;
}

.character_name{
  font-size: 32px;
  margin-top: 10px;

}

.episodes_info_container{
  margin-top: 18px;

}

.episodes_label{
  font-size: 24px;
  font-weight: 500;
  opacity: 0.8;
  text-decoration: underline;
}

.episodes{
  margin-top: 8px;
  max-width: 80%;
  max-height: calc(22px * 6);
  line-height: 22px;
  overflow-y: hidden;
  padding-bottom: 3px;
}

.episodes_text{
  font-size: 18px;
  font-weight: 400;
  
}

.ver_text{
  font-size: 20px;

}

/* BUTTON */
.button_container{
  margin-top: 20px;
  margin-bottom: 10px;
}
.button_add_favorite{
  outline: none;
  border: none;
  padding: 7px 10px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
}

.button_not_active{
  background-color: #e4e6e7;
  color: black;
}

.button_active{
  background-color: #ec7211;
  color: white;
}
/* END BUTTON */

.created{
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}

/* MEDIA QUERYS */


@media screen and ( max-width : 962px ){
  .character_page_container{
    margin-top: 30px;
  }
  .character_page_content{
    grid-template-columns: 1fr;


  }
  .image{
    height: 300px;
  }  
}

@media screen and ( max-width : 768px ){
  .character_page_container{
    margin-top: 10px;
  }
  .character_page_content{
    margin-top: 20px;

  }
  .image{
    height: 250px;
  }  
}





/* END MEDIA QUERYS */