.favorites_page_container{
  display: grid;
  justify-content: center;
  padding-top: 70px;
}

.favorites_page_content{
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,300px));
  grid-template-rows: repeat(auto-fill,minmax(250px,350px));
  gap: 20px;
  justify-self: center;
  justify-content: center;
  width: 100%;
}


/* MEDIA QUERYS */


@media screen and ( max-width : 768px ){
  .favorites_page_content{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  } 
}





/* END MEDIA QUERYS */